head
	meta(charset="UTF-8")
	title Document
body
	h1 BackEnd index
	
	h2 hello
	table(border='1')
		tr
			th 隊伍名稱
			th 產品介紹
			th 隊員介紹
			th 聯絡人
			th 聯絡人電話
			th 聯絡人email
			th 計畫連結
			th 註冊時間
		each result in results
			tr
				td #{result.team_info.team_name}
				td #{result.team_info.product_brief}
				td 
					ul
						li #{result.team_info.member_brief.member_0}
						li #{result.team_info.member_brief.member_1}
						li #{result.team_info.member_brief.member_2}
				td #{result.team_info.contact.name}
				td #{result.team_info.contact.phone}
				td #{result.team_info.contact.email}
				td test
				td #{result.reg_time}

	h3 
		a(href='/logout') logout



